@import "mocha.css";

* {
    font-family: FontAwesome, Noto Sans, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @text;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #wireplumber, #tray {
    padding: 0 10px;
}

#clock {
    background-color: @base;
    border-bottom: 3px solid white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

