@import "mocha.css";

* {
    font-family: 'Source Sans Pro', sans-serif;
}

window#waybar {
    background: alpha(@theme_base_color, 0.8);
    border-bottom: 1px solid @unfocused_border;
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @text;
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @surface1;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base;
}

#tray *:first-child {
  border-left: none;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #wireplumber, #window {
    margin: 4px 2px;
    background-color: @surface1;
    border-radius: 4px;
    min-width: 20px;
    padding: 0 6px;
}

#window.empty {
  background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

